@import url("//fonts.googleapis.com/css?family=Ubuntu|Playfair+Display|PT+Serif:400,700");

/*** UI styles ***/

body {
  font-family: 'Ubuntu';
  font-size: 12px;
}

.form-control {
  font-size: 12px;
}
.datepicker-days {
  font-size: 12px;
}

h2 {
  font-family: 'PT Serif', 'Playfair Display', 'Lato', 'serif';
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 20px;
  color: #eee;
  background-color: #256194;
}

.form-group {
    margin-bottom: 5px;
}

.checkbox {
    margin-top: 1px;
    margin-bottom: 1px;
}

/* to make svg container responsive */

#plots {
       display: inline-block;
       position: relative;
       width: 100%;
       padding-bottom: 100%;
       vertical-align: top;
       overflow: hidden;
   }
   
.plot1 {
       /*display: inline-block;
       position: absolute;*/
       top: 0;
       left: 0;
       /*fill: lightsteelblue;*/
}

/* d3 chart svg styles */

.chart_area {
	fill: lightsteelblue;
	stroke: steelblue; 
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.svg_area {
  fill: none;
  stroke: steelblue;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis {
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.rect-red {
	fill: red;
	stroke: red; 
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.rect-yellow {
  fill: yellow;
  stroke: yellow; 
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.rect-green {
  fill: green;
  stroke: green; 
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  opacity: 0.9;
  stroke: red;
  stroke-width: 4;
}

.focus line {
  stroke: red;
}
